# C/C++
*.o
*.out
*.a
*.so
*.dylib
*.dll
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
.venv

# IDE e Editores
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dados Gerados pelo Script
resources/*.bin
*.usearch
labels
